$size-xxl: 2.5rem;
$size-xl: 2rem;
$size-lg: 1.75rem;
$size-md: 1.5rem;
$size-mmd: 1.25rem;
$size-sm: 1rem;
$size-ssm: .8rem;

$font-i: 'Inter', sans-serif;
$font-o: 'Oswald', sans-serif;

$color-primary:#36a936;
$color-primary-alt:#196719;
$color-primary-back:#def2de;
$color-secondary: #247b24;
$color-secondary-back: #e2f1f7;
$color-third: #000;
$color-third-back: #e0d4d4;
$color-fourth: #111724;

$color-text:#656565;
$color-text2:#999;

$margin: 24px;
$margin-m: 12px;
$margin-sm: 6px;

$radius:24px;
$radius-m:12px;

$shadow:  0px 0px 32px rgba(0, 0, 0, .15);
$shadow-m:  0 0px 16px rgba(0, 0, 0, .11);
$shadow-sm: 0 0px 3px rgba(4, 25, 39, .15);

$shadow-alt: rgba(41, 172, 0 , 50%) 0px 2px 6px;
$shadow-alt-sm: rgba(41, 172, 0 , 50%) 0px 1px 3px;
 
.text-align-left {
    text-align: left;
}

    @keyframes bounceRight {
        0% {
        margin-right: 12px;
          opacity: 0;
        }

        100% {
          margin-right:0px ;
          opacity: .99;      
        }    
    }  
 

    @keyframes bounce {
        0% {
            margin-left: -64px;
            opacity: 0;
        }

        100% {
          margin-left:0px ;
          opacity: .99;      
        }    
    } 


@keyframes scale {
  50% {
    transform: scale(0.98);
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
    //left: 25%;
  }
  50% {
    //left: 60%;
    transform: rotate(168deg) scale(1.3);
 
  }
  100% {
    transform: rotate(0deg);
    //left: 25%;
  }
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}


.animaLeft {
    animation: bounce 1.5s ease;  
}

.animeRight {
   animation: bounceRight 1.5s ease;   
}


//animation modal
 
.overflow-hidden {
    overflow: hidden;
}
.position-absolute {
    position: absolute !important;
}
#icon-animation {
    position: absolute;
    top: -1000px;
    left: 1000px;
    transform: rotate(45deg);
    opacity: .77;
}

.icons-row.bg-even {
    animation: movebg-even 150s linear infinite;
}

.icons-row.bg-odd {
    animation: movebg-odd 200s linear infinite;
}

@keyframes movebg-even {
    from {
        background-position: 0 -1988px;
    }
    to {
        background-position: 0 1988px;
    }
}

@keyframes movebg-odd {
    from {
        background-position: 0 -1988px;
    }
    to {
        background-position: 0 1988px;
    }
}


//otra animacion
#icon-ani {
    position: absolute;
    top: -980px;
    right: -720px;
    transform: rotate(45deg);
    z-index: 0;
}

.icons-row {
    
    &:nth-child(1) {
        opacity: 1;
    }
    &:nth-child(2) {
        opacity: .75;
    }
    &:nth-child(3) {
        opacity: .5;
    }
    &:nth-child(4) {
        opacity: .25;
    }    
}

.icons-row.bg-e {
    animation: movebg-e 150s linear infinite;
}

.icons-row.bg-o {
    animation: movebg-o 200s linear infinite;
}

@keyframes movebg-e {
    from {
        background-position: 0 -1499px;
    }
    to {
        background-position: 0 1499px;
    }
}

@keyframes movebg-o {
    from {
        background-position: 0 -1499px;
    }
    to {
        background-position: 0 1499px;
    }
}

#slideshow {
    position: relative;
    div {
        //display: none;
    }
    //display: none;
}

.r45 {
    transform: rotate(45deg);
}

//loadings

@mixin loading-spinner($activeColor: #EF6565, $selector: "&::before", $time: 1.5s) {
    @keyframes spinner {
        0% {
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
        }

        100% {
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
    }
    
    animation-play-state: running;
    opacity: 1;
    position: relative;
    
    &.-paused { 
        animation-play-state: paused; 
        opacity: 0.2;
        transition: opacity linear 0.1s;
    }

    #{$selector} {
        animation: $time linear infinite spinner;
        animation-play-state: inherit;
        border: solid 3px #dedede;
        border-bottom-color: #{$activeColor};
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: absolute;
        top: 50%; 
        transform: translate3d(-50%, -50%, 0);
        width: 40px;
        will-change: transform;
    }
}

%loading {
        @include loading-spinner();
        position: absolute;
        width: 38px;
        height: 38px;
        background: white;
        border-radius: $radius;
        box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
        opacity: 1;
        z-index: 1;
        top: 50%;
        left: 50%;
        margin-left: -19px;
 

          &:before {
                border: solid 4px #fafafa;
                border-bottom-color: $color-third; 
                width:28px;
                height:28px;
            }

 
}

//class input

%inputs {
 
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        box-shadow: inset 0 0 0 transparent;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border-radius: $radius;    
  
}

.st0{fill:#36A936;}


//animaciones propias

%error { 
    background: #ffe7e7;
    border-radius: $radius;
    padding: $margin-m;
    border: 1px solid #efcbcb;
    font-size: 14px;
    color: red;
    
}

%success {
            background: #e7fce7;
            border-radius: $radius;
            padding: $margin-m;
            border: 1px solid #86c986;
            font-size: 14px;
            color: green;
}

%login {
    border-radius: $radius;
    padding: $margin;
    background: white;
    box-shadow: $shadow;
 
}

%success-out {
    @-webkit-keyframes success-out {
        0% {
            //transform: scale(0.5);
            opacity: 1;
        }
        25% {
            transform: scale(1.1);
            opacity: 1;
        }
        
        50% {
            transform: scale(1.0);
            opacity: 1;
        }
        
        75% {
            //transform: scale(0.5);
            opacity: 1;
        }        
        
        
        100% {
            //transform: scale(1);
            opacity: 0;
            margin-top: -16px;
        }
    }  
    animation: 1s success-out;
    animation-iteration-count: 1;    
}

%success-fade {
    @-webkit-keyframes success-fade {
        0% {
            transform: scale(0.85);

        }


        50% {
            transform: scale(1);

        }


        100% {
            transform: scale(.85);
  
        }

    }  
    animation: 1s success-fade;
    animation-iteration-count: infinite;    
}

%success-top {
    @-webkit-keyframes success-top {
    0% {
        transform: translate(0,0%);
    }
    50% {
        transform: translate(0, -5px);
        background: #f2f2f2;
        //transform: scale(1.1);
        }
    100% {
        transform: translate(0,0px);
        }        
    }
    animation: .5s success-top;
    animation-iteration-count: 1;       
}

%success-left {
    @-webkit-keyframes success-left {
    0% {
         transform: translate(-12px,0px);
        opacity: 0;
    }
    100% {
         transform: translate(0,0px);
            opacity: 1;
        }        
    }
    animation: .31s success-left;
    animation-iteration-count: 1;

}


%success-left-right {
    @-webkit-keyframes success-left-right {
    0% {
         transform: translate(0,0px);
    }
        
    33% {
         transform: translate(12px,0px);
    }        
    66% {
         transform: translate(0px,0px);
        }
    100% {
         transform: translate(-0,0px);
        }   
        
    }
    
  
    animation-name: success-left-right ;
    animation-duration: 1s;
    animation-iteration-count: 2;
    

}

%success-confirm {
    @-webkit-keyframes success-confirm {
    0% {
        transform: translate(0,0%);
    }
    50% {
        transform: translate(0, 0px);
        //transform: scale(1.1);
        background: white;
        box-shadow:  0 6px 12px rgba(74, 77, 110, .33);
        
        }
    100% {
        transform: translate(0,0px);
        }        
    }
    animation: 1s success-confirm;
    animation-iteration-count: 1;       
}



%success-tada {
    @-webkit-keyframes success-tada {
    0% {
        transform: translate(0,0%);
    }
 
    50% {
        //transform: rotate(6deg);
        color: green;
        transform: scale(1.1);
        }
        
    100% {
        transform: translate(0,0px);
        }        
    }
    animation: 1s success-tada;
    animation-iteration-count: 2;       
}

%success-error {
    @-webkit-keyframes success-error {
    0% {
        transform: translate(0,0%);
    }
 
    33% {

        transform: scale(1.1);
         transform: translate(-$margin, 0);
        }
        
    66% {
         transform: scale(1.1);
         transform: translate($margin, 0);
        }        
        
    100% {
        transform: translate(0,0px);
        }        
    }
    animation: 1s success-error;
    animation-iteration-count: 1;       
}
