/* overlay */    
.overlay {
    z-index: -1;
    backdrop-filter: blur(3px);
    background-color: rgba(28, 28, 28, 0.95);
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    &.show {
        display: block;
        opacity: 1;
        z-index: 10; 
    }  
}

body.dark {
    .overlay {
    background-color: hsla(0,0%,0%,.95);
    }
}


